# Can be fetched by running the Jupyter Notebooks.
backend/data/
venv/

# Don't commit all the mlflow runs
backend/mlruns/

backend/utils/__pycache__/__init__.cpython-310.pyc
backend/utils/__pycache__/helper.cpython-310.pyc
