/* Styles for the plotter page */

/* Mobile-first ordering using grid */
@media (max-width: 1023px) {
    main {
        display: flex;
        flex-direction: column;
    }
    #pitch-wrapper {
        order: 1;
    }
    #controls-wrapper {
        order: 2;
    }
    #stats-wrapper {
        order: 3;
    }
}

#match-list-container::-webkit-scrollbar {
    width: 8px;
}

#match-list-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#match-list-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#match-list-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.load-match-modal-width {
    width: 95%;
    max-width: 500px;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
